h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.closeButton {
    float:right;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 10px;    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table td {
    vertical-align: middle;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.logout-btn {
    background-color: #dc3545;
}

.logout-btn:hover {
    background-color: #bd2130;
}

.table-container {
    margin: 0 auto;
    max-width: 600px; /* Define el ancho máximo de la tabla */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#logoutButton {
    width: 100px;
    float: right;
}

.most-voted {
    font-weight: bold;
    color: #007bff; /* Cambia el color según tus preferencias */
}

#buttonBar {
    display: flex;
    gap: 10px;
}

#buttonBar button {
    width: 150px;    
}


/* Resetear estilos predeterminados de la lista */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para cada elemento de la lista */
li {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}


/* Estilo para el contenido dentro de cada elemento de la lista */
li .content {
    padding: 15px;
}

/* Estilo para el texto del elemento de la lista */
li p {
    margin: 0;
    font-size: 16px;
    color: #333;
}
