h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.closeButton {
    float:right;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 10px;    
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headButtons {
    display: flex;
    gap: 10px;
}

.headButtons a {
    text-decoration: none;
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 14px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table td {
    vertical-align: middle;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.logout-btn {
    background-color: #dc3545;
}

.logout-btn:hover {
    background-color: #bd2130;
}

.table-container {
    margin: 0 auto;
    max-width: 90%; /* Define el ancho máximo de la tabla */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#logoutButton {
    width: 100px;
    float: right;
}

.most-voted {
    font-weight: bold;
    color: #007bff; /* Cambia el color según tus preferencias */
}

#buttonBar {
    display: flex;
    gap: 10px;
}

#buttonBar button {
    width: auto;
}


/* Resetear estilos predeterminados de la lista */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilo para cada elemento de la lista */
li {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}


/* Estilo para el contenido dentro de cada elemento de la lista */
li .content {
    padding: 15px;
}

/* Estilo para el texto del elemento de la lista */
li p {
    margin: 0;
    font-size: 16px;
    color: #333;
}


.masai-list {
    list-style-type: none;
    padding: 0;
}

.masai-list li {
    margin-bottom: 10px;
    align-items: center;
}

.masai-list li img {
    width: 40px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Para mantener la proporción */
    margin-right: 10px;
}

.userTeam {
    cursor: pointer;
    float: right;
    font-size: 16px;
}

.deleteUser {
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin-right: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-contenido {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

.popup-contenido ul li {
    cursor: pointer;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.deleteTeam {
    float: right;
    cursor: pointer;
}

.deleteComment {
    float: right;
    cursor: pointer;
}

#masainame li span {
    font-size: 30px;
}


#teamVotes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#teamVotes li {
    display: table;
    width: 98%;
}

#teamVotes span {
    display: table-cell;
}

dialog[open] {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: unset;
    position: fixed;
    width: 50%;
    max-width: 300px;
    top: 10px;
}

dialog input {
    width: 95%;
}

dialog form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

#votingComment {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #f7f7f7;
  }
  
  #votingComment option {
    padding: 5px;
    background-color: #fff;
    color: #333;
  }
  
  #votingComment option:hover {
    background-color: #e0e0e0;
  }
  
  #votingComment option:checked {
    background-color: #c0c0c0;
    color: #fff;
  }

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marqueeAnimation 20s linear infinite;
}

@keyframes marqueeAnimation {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.marquee-content span{ 
    margin-left: 10px;
    margin-right: 10px;
}

#limits {
    display: contents;
}

#limits button{
    width: auto;
}

.datetime-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .datetime-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
  }

  .datetime-modal-content input {    
    width: 95%;
  }

  .hidden {
    visibility: hidden;
    display: none;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
      color: black;
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      color: red;
    }
  }
  
  .heartbeat {
    animation-name: heartbeat;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }


#addNewMasai input{
    width: 95%;
}

#addNewMasai select{
    width: 100%;
    height: 40px;
}

#addNewMasai .buttons {
    margin-top: 20px;
}